[Desktop Entry]
Name=Archlinux
GenericName=Terminal entering Archlinux
Comment=Terminal entering Archlinux
Category=Distrobox;System;Utility"
Exec=/usr/bin/distrobox enter archlinux
Icon=/home/petergriffin/.local/share/icons/distrobox/arch.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
