[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player  (on archlinux)
Icon=spotify-client
Exec=/usr/bin/distrobox-enter  -n archlinux --   spotify --uri= %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
