[Desktop Entry]
Name=Game2Text
Comment=OCR application for creating Japanese flashcards
GenericName=Flashcards  (on archlinux)
Exec=/usr/bin/distrobox-enter  -n archlinux-game2text --   /home/petergriffin/.local/bin/game2text.sh  %f
Icon=/home/petergriffin/.local/share/game2text/game2text.ico
Categories=Education
Terminal=false
Type=Application
Version=1.0
Path=
StartupNotify=false
StartupWMClass=game2text
