[Desktop Entry]
Name=Game2Text
Comment=OCR application for creating Japanese flashcards
GenericName=Flashcards
Exec=/home/petergriffin/.local/usr/bin/game2text.sh %f
TryExec=anki
Icon=/home/petergriffin/.local/share/game2text/game2text.ico
Categories=Education
Terminal=false
Type=Application
Version=1.0
Path=
StartupNotify=false
