[user]
	name = Your Name
	email = your.email@example.com

[core]
	editor = vim
	autocrlf = input

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = log -1 HEAD
	unstage = reset HEAD --

[pull]
	rebase = false

[init]
	defaultBranch = main

[push]
	default = simple
