#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_US]=
Comment=
Exec=bash game2text.sh
GenericName[en_US]=
GenericName=
Icon=/home/petergriffin/.local/share/game2text/icon.ico
MimeType=
Name[en_US]=game2text
Name=game2text
Path=/home/petergriffin/.local/share/game2text
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
