altgraph
appdirs
bottle
bottle-websocket
cachetools
certifi
cffi
chardet
click
distlib
Eel
filelock
future
fuzzywuzzy
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
parse
pefile
Pillow
psutil
PyAudio
pycparser
pydub
pyinstaller
pyinstaller-hooks-contrib
pynput
pyparsing
pyperclip
pytesseract
python-xlib
python-Levenshtein
pywin32-ctypes
PyYAML
requests
rfc3986
six
SudachiDict-small
SudachiPy
sniffio
tk
urllib3
Werkzeug
whichcraft
zope.event
zope.interface
