altgraph
appdirs
bottle
bottle-websocket
cachetools
certifi
cffi
chardet
click
distlib
Eel
filelock
future
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
pefile
Pillow
pycparser
pydub
pyinstaller
pyinstaller-hooks-contrib
pynput
pyparsing
pyperclip
pytesseract
python-xlib
pywin32-ctypes
PyYAML
requests
rfc3986
six
sniffio
tk
urllib3
Werkzeug
whichcraft
zope.event
zope.interface
