[Unit]
Description=Backup dot files to github

[Service]
ExecStart=/home/petergriffin/Documents/dotfiles/backup.sh
Type=oneshot
User=petergriffin
group=wheel
